In [3]:
# ! pip install sqlalchemy

Collecting sqlalchemy
  Using cached SQLAlchemy-1.4.27-cp38-cp38-macosx_10_14_x86_64.whl (1.5 MB)
Collecting greenlet!=0.4.17; python_version >= "3" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))))
  Using cached greenlet-1.1.2-cp38-cp38-macosx_10_14_x86_64.whl (92 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.2 sqlalchemy-1.4.27

In [1]:
from sqlalchemy import create_engine

In [2]:
! pwd

/Users/julian/Documents/repos/SQL

In [3]:
eng = create_engine('sqlite:////Users/julian/Documents/repos/SQL/data/sqlite3/test.db')

In [4]:
con = eng.connect()

In [5]:
for e in con.execute("SELECT id, name, address, salary from COMPANY"):
    print(e)

(5, 'Paul', 'California', 20000.0)
(6, 'Allen', 'Texas', 2000.0)
(7, 'Teddy', 'Norway', 20000.0)
(8, 'Mark', 'Rich-Mond ', 65000.0)

In [6]:
from sqlalchemy.sql import select

In [7]:
# select(columns=['name'], from_obj='COMPANY')

# Creacion de tabla

In [8]:
from sqlalchemy import (create_engine, Table, Column, Integer, 
    String, MetaData)
    
meta = MetaData()
cars = Table('Cars', meta,
     Column('Id', Integer, primary_key=True),
     Column('Name', String),
     Column('Price', Integer)
)

In [9]:
cars

Table('Cars', MetaData(), Column('Id', Integer(), table=<Cars>, primary_key=True, nullable=False), Column('Name', String(), table=<Cars>), Column('Price', Integer(), table=<Cars>), schema=None)

In [10]:
list(cars.c)

[Column('Id', Integer(), table=<Cars>, primary_key=True, nullable=False),
 Column('Name', String(), table=<Cars>),
 Column('Price', Integer(), table=<Cars>)]

In [11]:
cars.primary_key

PrimaryKeyConstraint(Column('Id', Integer(), table=<Cars>, primary_key=True, nullable=False))

# Inserts

In [12]:
con.execute('DROP TABLE IF EXISTS Cars')
con.execute('''CREATE TABLE Cars(Id INTEGER PRIMARY KEY, 
             Name TEXT, Price INTEGER)''')

data = ( { "Id": 1, "Name": "Audi", "Price": 52642 },
         { "Id": 2, "Name": "Mercedes", "Price": 57127 },
         { "Id": 3, "Name": "Skoda", "Price": 9000 },
         { "Id": 4, "Name": "Volvo", "Price": 29000 },
         { "Id": 5, "Name": "Bentley", "Price": 350000 },
         { "Id": 6, "Name": "Citroen", "Price": 21000 },
         { "Id": 7, "Name": "Hummer", "Price": 41400 },
         { "Id": 8, "Name": "Volkswagen", "Price": 21600 })

In [13]:
for line in data:
    con.execute("""INSERT INTO Cars(Id, Name, Price) 
        VALUES(:Id, :Name, :Price)""", **line)

In [14]:
for e in con.execute("SELECT id, Name, Price from Cars"):
    print(e)

(1, 'Audi', 52642)
(2, 'Mercedes', 57127)
(3, 'Skoda', 9000)
(4, 'Volvo', 29000)
(5, 'Bentley', 350000)
(6, 'Citroen', 21000)
(7, 'Hummer', 41400)
(8, 'Volkswagen', 21600)

# Select

In [15]:
from sqlalchemy.sql import select    
from sqlalchemy.sql import text

In [16]:
stm = select(columns=[text('Name'), text('Price')], from_obj=cars)
stm = select([cars])
rs = con.execute(stm)

In [17]:
for e in rs:
    print(e)

(1, 'Audi', 52642)
(2, 'Mercedes', 57127)
(3, 'Skoda', 9000)
(4, 'Volvo', 29000)
(5, 'Bentley', 350000)
(6, 'Citroen', 21000)
(7, 'Hummer', 41400)
(8, 'Volkswagen', 21600)