In [1]:
# Instalación sin docker
# En mac
# brew tap mongodb/brew
# brew install mongodb-community
# brew services start mongodb/brew/mongodb-community
#
# En ubuntu
# https://hevodata.com/blog/install-mongodb-on-ubuntu/
#
# En windows
# https://docs.mongodb.com/manual/tutorial/install-mongodb-on-windows/

# Instalación con docker
docker pull mongo

docker run -v /Users/julian/Documents/repos/SQL/data/mongo:/data/db -p 27017:27017 mongo

In [2]:
# Libreria
# ! pip install pymongo

In [8]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

db_name = 'db_test'
mydb = myclient[db_name]

In [9]:
myclient.drop_database(db_name)

In [10]:
print(myclient.list_database_names())

['admin', 'config', 'local']

In [15]:
print(mydb.list_collection_names())

['user']

In [12]:
mydict = { "name": "John", "address": "Highway 37", "age": 33}

In [13]:
# No estructurada
mydb.user.insert_one(mydict)

In [27]:
print(mydb.list_collection_names())

['user']

In [16]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mydb.user.insert_many(mylist)

In [36]:
mydb.user.count_documents({})

13

In [37]:
for u in mydb.user.find():
    print(u)

{'_id': ObjectId('61a7c06a294c308a57ba454c'), 'name': 'John', 'address': 'Highway 37', 'age': 33}
{'_id': ObjectId('61a7c07a294c308a57ba454d'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61a7c07a294c308a57ba454e'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61a7c07a294c308a57ba454f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61a7c07a294c308a57ba4550'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61a7c07a294c308a57ba4551'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61a7c07a294c308a57ba4552'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61a7c07a294c308a57ba4553'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61a7c07a294c308a57ba4554'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61a7c07a294c308a57ba4555'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61a7c07a294c308a57ba4556'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61a7c07a294c308a57ba4557'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61a7c07a294c308a57ba4558'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [39]:
for u in mydb.user.find({'name': 'John'}):
    print(u)

{'_id': ObjectId('61a7c06a294c308a57ba454c'), 'name': 'John', 'address': 'Highway 37', 'age': 33}

In [40]:
for u in mydb.user.find({}, { "_id": False, "address": False}):
    print(u)

{'name': 'John', 'age': 33}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}

In [42]:
myquery = { "address": { "$gt": "S" } }

mydoc = mydb.user.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('61a7c07a294c308a57ba454f'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61a7c07a294c308a57ba4552'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61a7c07a294c308a57ba4554'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61a7c07a294c308a57ba4558'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [99]:
# mydb.users.drop()